<template>
  <div class="about-area flex justify-center">
    <div
      class="about-box w-10/12 rounded-3xl p-5 md:p-9"
      :style="
        lightStatus === 'toDark'
          ? 'background-color: white'
          : 'background-color: #333333;'
      "
    >
      <div class="about-box__head">
        <h1
          class="font-bold text-xl sm:text-2xl md:text-3xl"
          :class="lightStatus === 'toDark' ? 'text-gray-600' : 'text-white'"
        >
          درباره ما
        </h1>
      </div>
      <div class="about-box__content flex flex-col mt-6 md:flex-row md:gap-x-6">
        <div class="about-box__img mb-5">
          <img
            class="rounded-xl"
            src="../assets/images/fastfood-design-00.jpg"
            alt=""
          />
        </div>
        <div
          class="about-box__text text-justify md:w-11/12"
          :class="lightStatus === 'toDark' ? 'text-gray-500' : 'text-gray-400'"
        >
          <p>
            یکی از بزرگترین فست فود های زنجیره ای ایران کار خود را از سال 1392
            با راه اندازی اولین شعبه در استان تهران آغاز نمود و طبق برنامه ریزی
            های صورت گرفته و به مرور زمان زیرساخت های لازم جهت سنگ بنای مجموعه
            گسترده و پیچیده کنونی، گذاشته شد.
          </p>
          <p class="md:hidden lg:block">
            در حال حاضر برگرویچ با 20 شعبه فعال در سراسر کشور، یکی از بزرگترین
            فست فودهای زنجیره ای در ایران بوده و با در اختیار داشتن کارخانه
            تولید مواد اولیه (ایران گوشت)، سیستم زنجیره تأمین و ناوگان مجهز
            ترابری، سیستم جامع تضمین کیفیت (QA)، سیستم تأمین نیروی انسانی، سیستم
            نظرسنجی از مشتریانSmart Evaluation، مرکز تحقیق و توسعه محصول-بازار،
            واحد مستقل بازاریابی و فروش، واحد Branding، بخش راه اندازی و تجهیز
            شعب جدید (Fastfood Run)، سیستم پشتیبانی از شعب و سیستم های پیچیده
            نظارتی-کنترل؛ سازمان یافته ترین و پیشرفته ترین سازمان کشور در حوزه
            خدمات فست فود بوده و همچنان به فکر پیشرفت و بهبود مستمر مجموعه خود
            می باشد.
          </p>
        </div>
      </div>
      <div
        class="about-box__md-text text-justify"
        :class="lightStatus === 'toDark' ? 'text-gray-500' : 'text-gray-400'"
      >
        <p class="hidden md:block lg:hidden">
          در حال حاضر برگرویچ با 20 شعبه فعال در سراسر کشور، یکی از بزرگترین فست
          فودهای زنجیره ای در ایران بوده و با در اختیار داشتن کارخانه تولید مواد
          اولیه (ایران گوشت)، سیستم زنجیره تأمین و ناوگان مجهز ترابری، سیستم
          جامع تضمین کیفیت (QA)، سیستم تأمین نیروی انسانی، سیستم نظرسنجی از
          مشتریانSmart Evaluation، مرکز تحقیق و توسعه محصول-بازار، واحد مستقل
          بازاریابی و فروش، واحد Branding، بخش راه اندازی و تجهیز شعب جدید
          (Fastfood Run)، سیستم پشتیبانی از شعب و سیستم های پیچیده نظارتی-کنترل؛
          سازمان یافته ترین و پیشرفته ترین سازمان کشور در حوزه خدمات فست فود
          بوده و همچنان به فکر پیشرفت و بهبود مستمر مجموعه خود می باشد.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["lightStatus"],
};
</script>

<style scoped>
h1 {
  position: relative;
}
h1::after {
  content: "";
  background-color: #fb923c;
  width: 18px;
  height: 5px;
  position: absolute;
  right: 76px;
  top: 12px;
}
@media (min-width: 640px) {
  h1::after {
    right: 86px;
  }
}
@media (min-width: 768px) {
  h1::after {
    right: 110px;
    top: 14px;
  }
}
</style>