<template>
  <div class="checkout-page flex justify-center">
    <div
      class="
        checkout-box
        w-10/12
        xs:w-8/12
        sm:w-10/12
        p-5
        flex flex-col
        gap-y-6
        justify-center
        rounded-xl
      "
      :style="
        lightStatus === 'toDark'
          ? 'background-color: white'
          : 'background-color: #333333;'
      "
    >
      <div v-if="!cart.length" class="empty-cart text-center">
        <h3 class="text-gray-500">سبد خرید شما خالی است!</h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-10 w-10 mx-auto mt-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="#6b7280"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
          />
        </svg>
      </div>
      <div
        v-if="cart.length"
        class="checkout-box__products xs:items-center flex flex-col gap-y-5"
      >
        <div
          class="
            checkout-box__product
            w-full
            p-3
            bg-gray-50
            rounded-xl
            sm:flex sm:flex-row sm:justify-between sm:items-center
          "
          :style="
            lightStatus === 'toDark'
              ? 'background-color: #f9fafb'
              : 'background-color: #2F2F2F;'
          "
          v-for="product in cart"
          :key="product.title"
        >
          <div
            class="
              checkout-box__product-content
              flex flex-col
              sm:flex-row sm:items-center sm:w-4/12 sm:gap-x-3
            "
          >
            <img
              class="sm:w-3/12"
              :src="product.image"
              :alt="product.category"
            />
            <div
              class="
                checkout-box__product-content-txt
                text-center
                sm:text-right
                flex flex-col
                gap-y-1
              "
            >
              <h3 class="text-gray-500 lg:text-lg">{{ product.title }}</h3>
              <h4 class="font-bold text-orange-400 sm:text-lg lg:text-2xl">
                {{ product.pricePer }}
              </h4>
            </div>
          </div>
          <div class="checkout-box__product-delete">
            <button
              @click="deleteProductFunc(product)"
              class="
                text-red-500
                border-2 border-red-500
                hover:bg-red-500 hover:text-white
                rounded-lg
                text-sm
                mt-3
                px-3
                py-1
              "
            >
              حذف از سبد خرید
            </button>
          </div>
        </div>
      </div>
      <div v-if="cart.length" class="checkout-box__payment flex justify-end">
        <button
          class="bg-orange-400 text-white rounded-lg w-full py-2 sm:w-5/12"
        >
          نهایی سازی سفارش
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["cart"],
  methods: {
    deleteProductFunc(product) {
      const deletedIndex = this.cart.indexOf(product);
      this.cart.splice(deletedIndex, 1);
    },
  },
};
</script>

<style scoped>
button {
  font-family: vazir;
  transition: ease-in-out 0.4s;
}
</style>