<template>
  <div class="contact-area flex justify-center">
    <div
      class="contact-box w-10/12 rounded-3xl p-5 md:p-9"
      :style="
        lightStatus === 'toDark'
          ? 'background-color: white'
          : 'background-color: #333333;'
      "
    >
      <div class="contact-box__head">
        <h1
          class="font-bold text-xl sm:text-2xl md:text-3xl"
          :class="lightStatus === 'toDark' ? 'text-gray-600' : 'text-white'"
        >
          تماس با ما
        </h1>
      </div>
      <div
        class="
          contact-box__content
          flex flex-col
          sm:items-center
          mt-6
          md:flex-row md:gap-x-6
        "
      >
        <div class="contact-box__img mb-5">
          <img class="rounded-xl" src="../assets/images/location.jpg" alt="" />
        </div>
        <div
          class="
            contact-box__text
            text-justify text-gray-500
            xs:flex xs:w-full xs:flex-wrap xs:gap-10
            sm:justify-center
            md:justify-start md:gap-y-8 md:gap-x-12
          "
        >
          <div class="contact-box__locations">
            <h3 class="font-bold mb-3 text-orange-400 flex items-center">
              <span class="material-icons"> fmd_good </span>
              <span>آدرس شعب</span>
            </h3>
            <ul
              v-for="(loc, index) in location"
              :key="index"
              class="list-disc mr-5"
              :class="lightStatus === 'toDark' ? '' : 'text-gray-400'"
            >
              <li>{{ loc }}</li>
            </ul>
          </div>
          <div class="contact-box__numbers mt-6 xs:mt-0">
            <h3 class="font-bold mb-3 text-orange-400 flex items-center">
              <span class="material-icons"> call </span>
              <span>شماره های تماس</span>
            </h3>
            <ul
              v-for="(phone, index) in phones"
              :key="index"
              class="list-disc mr-5"
              :class="lightStatus === 'toDark' ? '' : 'text-gray-400'"
            >
              <li>{{ phone }}</li>
            </ul>
          </div>
          <div class="contact-box__socials mt-6 xs:mt-0">
            <h3 class="font-bold mb-3 text-orange-400 flex items-center">
              <span class="material-icons"> alternate_email </span>
              <span>شبکه های اجتماعی</span>
            </h3>
            <ul class="flex flex-col list-none gap-y-3 mr-0">
              <li v-for="(social, index) in socials" :key="index">
                <a href="#" class="flex items-center"
                  ><i
                    class="fab text-orange-400"
                    :class="social.icon"
                    style="font-size: 20px"
                  ></i>
                  <span
                    class="mr-1"
                    :class="lightStatus === 'toDark' ? '' : 'text-gray-400'"
                    >{{ social.text }}</span
                  ></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["lightStatus"],
  data() {
    return {
      location: ["ایران، تهران", "ایران، مشهد", "ایران، اصفهان"],
      phones: ["۰۹۱۲۹۹۹۹۹۹۹", "۰۹۱۵۹۹۹۹۹۹۹", "۰۹۱۴۹۹۹۹۹۹۹"],
      socials: [
        { icon: "fa-instagram", text: "@bergerwich" },
        { icon: "fa-telegram-plane", text: "@bergerwichfood" },
        { icon: "fa-twitter", text: "berger_wich" },
      ],
    };
  },
};
</script>

<style scoped>
h1 {
  position: relative;
}
h1::after {
  content: "";
  background-color: #fb923c;
  width: 18px;
  height: 5px;
  position: absolute;
  right: 96px;
  top: 12px;
}
@media (min-width: 640px) {
  h1::after {
    right: 112px;
  }
}
@media (min-width: 768px) {
  h1::after {
    right: 138px;
    top: 14px;
  }
}
</style>