<template>
  <div class="home">
    <!-- Landing -->
    <Landing :lightStatus="lightStatus"/>
    <!-- about -->
    <AboutSection :lightStatus="lightStatus"/>
  </div>
</template>

<script>
import Landing from '../components/Landing.vue'
import AboutSection from '../components/AboutSection.vue'

export default {
  name: 'HomeView',
  components: {
    Landing,AboutSection
  },
  props: ['lightStatus']
}
</script>
