<template>
  <div class="product-area flex justify-center items-center">
    <div
      class="
        product
        w-10/12
        rounded-3xl
        p-5
        xs:w-8/12
        md:w-10/12
        flex flex-col
        md:flex-row md:justify-between
        lg:justify-start
        md:items-start md:gap-x-7 md:p-6
        lg:p-9
      "
      :style="
        lightStatus === 'toDark'
          ? 'background-color: white'
          : 'background-color: #333333;'
      "
    >
      <div
        class="product__img rounded-2xl p-4 flex justify-center"
        :style="
          lightStatus === 'toDark'
            ? 'background-color: #f3f4f6;'
            : 'background-color: #2F2F2F;'
        "
      >
        <img :src="product.image" alt="" />
      </div>
      <div class="product__content">
        <div class="product__title">
          <h1
            class="text-xl font-bold mt-8 mb-4"
            :class="
              lightStatus === 'toDark' ? 'text-gray-500' : 'text-gray-100'
            "
          >
            {{ product.title }}
          </h1>
        </div>
        <div class="product__price">
          <h2 class="text-2xl font-bold text-orange-400">
            {{ product.pricePer }} تومان
          </h2>
        </div>
        <div class="product__category">
          <p class="mt-3 text-gray-400 text-sm">
            دسته بندی: {{ product.category }}
          </p>
        </div>
        <div class="product__description mt-7">
          <p
            class="mb-2 font-bold"
            :class="
              lightStatus === 'toDark' ? 'text-gray-400' : 'text-gray-300'
            "
          >
            توضیحات:
          </p>
          <p
            class="text-justify"
            :class="
              lightStatus === 'toDark' ? 'text-gray-600' : 'text-gray-400'
            "
          >
            {{ product.description }}
          </p>
        </div>
        <div
          class="
            product__addToCard
            xs:w-10/12 xs:mx-auto
            md:w-full md:mr-0
            mt-9
          "
        >
          <button
            :disabled="addedCard"
            @click="addToCartClicked"
            :class="
              addedCard
                ? 'bg-gray-100 text-gray-400 cursor-cell'
                : 'bg-orange-400 text-white hover:bg-orange-500'
            "
            class="
              w-11/12
              mx-auto
              sm:w-9/12
              md:w-full md:mr-0
              lg:w-6/12
              px-3
              py-2
              rounded-lg
              flex
              items-center
              justify-center
            "
          >
            افزودن به سبد خرید
            <span class="material-icons mr-2"> local_mall </span>
          </button>
          <p v-if="addedCard" class="text-orange-400 mt-2">
            این محصول در سبد خرید شما موجود است
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import products from "../data/products.js";

export default {
  data() {
    return {
      products,
      product: null,
      addedCard: false,
      currentProCount: 1,
    };
  },
  props: ["lightStatus"],
  methods: {
    addToCartClicked() {
      this.addedCard = true;
      localStorage.setItem("addedProduct", this.product);
      this.$emit("newAddedCart", this.product);
    },
  },
  beforeMount() {
    this.product = this.products.find((p) => {
      return p.title === this.$route.params.name;
    });
  },
};
</script>

<style scoped>
button {
  font-family: vazir;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}
/* button:hover {
  background-color: #ea8a3b;
} */
</style>