<template>
  <div class="shop-page">
    <SideBarMob :lightStatus="lightStatus" class="sm:hidden" />
    <div
      class="
        shop-large
        xs:px-5
        sm:px-5 sm:flex sm:gap-x-8 sm:justify-between
        md:px-12
        pb-5
      "
    >
      <div class="shop-large__sidebar hidden sm:block">
        <SideBarLarge
          @passPriceEmit="getPriceFunc($event)"
          @passTypeEmit="getTypeFunc($event)"
          :lightStatus="lightStatus"
        />
      </div>
      <div
        class="
          shop-large__products
          flex flex-col
          gap-y-6
          sm:w-4/5
          xs:flex xs:flex-row xs:flex-wrap xs:gap-4
        "
      >
        <h5>{{ products[0].title }}</h5>
        <ProductBox
          v-for="(product, index) in filteredProducts"
          :key="index + 1"
          :product="product"
          :lightStatus="lightStatus"
        />
      </div>
    </div>
  </div>
</template>

<script>
import SideBarMob from "../components/SideBarMob.vue";
import SideBarLarge from "../components/SideBarLarge.vue";
import ProductBox from "../components/ProductBox.vue";
import products from "../data/products.js";

export default {
  data() {
    return {
      products,
      types: [],
      filteredProductsArray: [],
      temp: null,
    };
  },
  props: ["lightStatus"],
  methods: {
    getPriceFunc($event) {
      if ($event === "lth") {
        console.log("******************************");
        this.filteredProducts.sort((a, b) =>
          // return a.price - b.price;
          a.price < b.price ? -1 : 1
        );
        this.filteredProducts.forEach((product) => {
          console.log(product.title);
        });
      } else {
        this.filteredProducts.sort((a, b) => (a.price > b.price ? -1 : 1));

        this.filteredProducts.forEach((product) => {
          console.log(product.title);
        });
      }
    },
    getTypeFunc($event) {
      this.types = $event;
      console.log(this.types);
    },
  },
  computed: {
    filteredProducts() {
      if (this.types.length) {
        this.filteredProductsArray.splice(0, this.filteredProductsArray.length);
        console.log("there is at least 1 item in types");
        this.types.forEach((type) => {
          this.products.filter((product) => {
            if (product.category.includes(type)) {
              this.filteredProductsArray.push(product);
            }
          });
        });
        return this.filteredProductsArray;
      } else {
        console.log("there is no items in types");
        return products;
      }
    },
  },
  components: { SideBarMob, SideBarLarge, ProductBox },
};
</script>

<style scoped>
h5 {
  display: none;
}
@media (max-width: 479px) {
  .shop-large__products {
    width: 75%;
    margin: 0px auto;
  }
}
</style>