<template>
  <div class="about-section flex justify-center py-12">
    <div
      class="
        w-10/12
        about-section-boxs
        flex flex-col
        sm:flex-row sm:flex-wrap
        items-center
        gap-y-12
        md:gap-y-8 md:justify-evenly
        xs:p-0
        sm:px-4
      "
    >
      <div
        class="
          about-section__box
          xs:w-2/3
          sm:w-1/2
          md:w-2/5
          lg:w-1/4 lg:px-2
          sm:px-5
          text-center
        "
        v-for="(item, index) in items"
        :key="index"
      >
        <span class="material-icons text-5xl text-orange-400">{{
          item.icon
        }}</span>
        <h4
          class="text-lg font-bold my-2"
          :class="lightStatus === 'toDark' ? '' : 'text-gray-200'"
        >
          {{ item.title }}
        </h4>
        <p
          class="text-md"
          :class="lightStatus === 'toDark' ? 'text-gray-500' : 'text-gray-400'"
        >
          {{ item.text }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          icon: "fastfood",
          title: "محصولات خوشمزه",
          text: "غذاهای ما متفاوت ترین طعم و مزه‌ها را برای شما به ارمغان می‌آورند.",
        },
        {
          icon: "military_tech",
          title: "کیفیت بالا",
          text: "تمامی مواد اولیه استفاده شده توسط عطاویچ از برندهای باکیفیت و شناخته شده می‌باشند.",
        },
        {
          icon: "groups",
          title: "کادر متخصص",
          text: "همه کارکنان ما از پیشخدمت تا سرآشپز، در زمینه‌های کاری خود متخصص هستند.",
        },
        {
          icon: "place",
          title: "محصولات خوشمزه",
          text: "با بیش از هشتاد شعبه در ایران و سراسر دنیا آماده خدمت رسانی به شما هستیم.",
        },
      ],
    };
  },
  props: ["lightStatus"],
};
</script>

<style>
</style>