<template>
  <div class="footer flex flex-col items-center mt-12">
    <!-- top -->
    <div
      class="
        footer-top
        w-10/12
        text-center
        rounded-2xl
        mb-4
        p-4
        text-gray-500 text-md
        font-bold
      "
      :style="
        lightStatus === 'toDark'
          ? 'background-color: #fff;'
          : 'background-color: #333333;'
      "
    >
      <div
        class="
          footer-top__container
          flex flex-col
          gap-y-3
          lg:flex-row lg:justify-between lg:items-center lg:py-3 lg:px-4
        "
      >
        <p class="text-orange-400 lg:text-2xl">
          برگرویچ؛ جایی که شیفته غذا می‌شوید...
        </p>
        <p :class="lightStatus === 'toDark' ? '' : 'text-gray-300'">
          برای سفارش تلفنی تماس بگیرید: 39999999-051
        </p>
      </div>
    </div>
    <!-- bottom -->
    <div class="footer-bottom flex justify-center">
      <div
        class="
          footer-bottom__container
          py-7
          w-10/12
          rounded-t-3xl
          p-5
          flex flex-col
          gap-y-5
          sm:flex-row sm:flex-wrap sm:gap-x-10 sm:gap-y-12
          lg:justify-evenly
        "
        :style="
          lightStatus === 'toDark'
            ? 'background-color: #fff;'
            : 'background-color: #333333;'
        "
      >
        <div class="footer-bottom__text sm:w-5/12 md:w-4/12 lg:w-3/12">
          <h4
            class="text-lg font-bold mb-2"
            :class="lightStatus === 'toDark' ? 'text-gray-500' : 'text-white'"
          >
            معرفی
          </h4>
          <p
            class="text-justify"
            :class="
              lightStatus === 'toDark' ? 'text-gray-500' : 'text-gray-400'
            "
          >
            فست فود برگرویچ از فست فود های خاصِ مشهدِ…چرا که منوی برگرویچ یک
            منوی کاملا اختصاصیِ و تا به الان هر جا پیتزا و… خوردین فراموش کنید.
            چون در برگرویچ شما طعم و مزه متفاوتی رو تجربه خواهید کرد…
          </p>
        </div>
        <div class="footer-bottom__nav sm:w-1/2 md:w-3/12">
          <h4
            class="text-lg font-bold mb-2"
            :class="lightStatus === 'toDark' ? 'text-gray-500' : 'text-white'"
          >
            دسترسی سریع
          </h4>
          <ul class="list-none text-gray-500 flex flex-col gap-y-1">
            <li v-for="(nav, index) in navbar" :key="index" class="mb-1">
              <router-link
                :to="{ name: nav.ref }"
                class="hover:text-orange-400"
                :class="
                  lightStatus === 'toDark' ? 'text-gray-500' : 'text-gray-400'
                "
                >{{ nav.text }}</router-link
              >
            </li>
          </ul>
        </div>
        <div class="footer-bottom__social sm:w-1/2 md:w-3/12">
          <h4
            class="text-lg font-bold mb-3"
            :class="lightStatus === 'toDark' ? 'text-gray-500' : 'text-white'"
          >
            ما را دنبال کنید
          </h4>
          <div class="footer-bottom__social-icons flex gap-x-4">
            <a href="#" v-for="(icon, index) in icons" :key="index"
              ><i
                class="text-gray-500 hover:text-orange-400 fab"
                :class="
                  lightStatus === 'toDark'
                    ? `text-gray-500 ${icon}`
                    : `text-gray-400 ${icon}`
                "
                style="font-size: 20px"
              ></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      navbar: [
        { text: "خانه", ref: "HomeView" },
        { text: "فروشگاه", ref: "ShopView" },
        { text: "درباره ما", ref: "AboutView" },
        { text: "تماس با ما", ref: "ContactView" },
      ],
      icons: ["fa-instagram", "fa-telegram-plane", "fa-twitter"],
    };
  },
  props: ["lightStatus"],
};
</script>

<style scoped>
h4 {
  position: relative;
  display: inline-block;
}
h4::after {
  content: "";
  width: 17px;
  height: 5px;
  background-color: #fb923c;
  position: absolute;
  top: 12px;
  left: -24px;
}
a {
  transition: ease-in-out 0.4s;
}
i {
  transition: ease-in-out 0.4s;
}
i:hover {
  transform: scale(0.9);
}
</style>