<template>
  <div class="header-box flex justify-center py-2">
    <div class="header w-10/12 flex items-center justify-between">
      <!-- Logo -->
      <router-link :to="{ name: 'HomeView' }" class="hader__logo">
        <h1 class="text-orange-400 text-lg sm:text-2xl lg:text-3xl font-bold">
          برگر ویچ
        </h1>
      </router-link>

      <!-- Navigation -->
      <!-- screen -->
      <nav class="hidden xs:block">
        <ul class="flex xs:gap-x-3 sm:gap-x-4 xs:text-sm md:text-base">
          <li>
            <router-link
              :class="
                this.$route.name === 'HomeView'
                  ? 'bg-orange-400 text-white rounded hover:text-white'
                  : lightStatus === 'toDark'
                  ? 'hover:text-orange-500'
                  : 'text-white hover:text-orange-500'
              "
              class="flex py-1 px-4"
              :to="{ name: 'HomeView' }"
              >خانه</router-link
            >
          </li>
          <li class="hover:text-orange-500">
            <router-link
              :class="
                this.$route.name === 'ShopView'
                  ? 'bg-orange-400 text-white rounded hover:text-white'
                  : lightStatus === 'toDark'
                  ? 'hover:text-orange-500'
                  : 'text-white hover:text-orange-500'
              "
              class="flex py-1 px-4"
              :to="{ name: 'ShopView' }"
              >فروشگاه</router-link
            >
          </li>
          <li class="hover:text-orange-500">
            <router-link
              :class="
                this.$route.name === 'AboutView'
                  ? 'bg-orange-400 text-white rounded hover:text-white'
                  : lightStatus === 'toDark'
                  ? 'hover:text-orange-500'
                  : 'text-white hover:text-orange-500'
              "
              class="flex py-1 px-4"
              :to="{ name: 'AboutView' }"
              >درباره ما</router-link
            >
          </li>
          <li class="hover:text-orange-500">
            <router-link
              :class="
                this.$route.name === 'ContactView'
                  ? 'bg-orange-400 text-white rounded hover:text-white'
                  : lightStatus === 'toDark'
                  ? 'hover:text-orange-500'
                  : 'text-white hover:text-orange-500'
              "
              class="flex py-1 px-4"
              :to="{ name: 'ContactView' }"
              >تماس با ما</router-link
            >
          </li>
        </ul>
      </nav>

      <!-- Header Icons -->
      <div class="header__icons flex justify-end items-center gap-x-4">
        <!-- Dark Mood -->
        <div class="header__lightIcon cursor-pointer -mt-2">
          <!-- Moon -->
          <svg
            @click="lightStatus = 'toLight'"
            v-if="lightStatus === 'toDark'"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 text-orange-400"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z"
            />
          </svg>
          <!-- Sun -->
          <svg
            @click="lightStatus = 'toDark'"
            v-if="lightStatus === 'toLight'"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 text-orange-400"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
            />
          </svg>
        </div>
        <!-- Shopping Card Icon -->
        <div class="header__cartIcon w-6/12 flex flex-col items-end pb-2">
          <div
            class="
              header__icon header__icon--cart
              cursor-pointer
              rounded-full
              inline-block
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-7 w-7"
              fill="none"
              viewBox="0 0 24 24"
              stroke="#fb923c"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
              />
            </svg>
            <div class="header__counter flex justify-center items-center">
              <span>{{ cart.length }}</span>
            </div>
          </div>
          <div
            class="
              header__added-products
              bg-orange-50
              py-4
              px-5
              shadow-2xl
              rounded-2xl
            "
          >
            <div
              v-if="cart.length"
              class="header__products-cart flex flex-col gap-y-2"
            >
              <div class="products-cart flex flex-col gap-y-2">
                <div
                  class="
                    header__product-cart
                    rounded-xl
                    p-2
                    flex
                    items-center
                    justify-between
                  "
                  :style="
                    lightStatus === 'toDark'
                      ? 'background-color: white;'
                      : 'background-color: #333333;'
                  "
                  v-for="product in cart"
                  :key="product.title"
                >
                  <div class="header__product-box flex items-center">
                    <img :src="product.image" width="80px" alt="" />
                    <div class="flex flex-col">
                      <h3
                        :class="lightStatus === 'toDark' ? '' : 'text-gray-400'"
                      >
                        {{ product.title }}
                      </h3>
                      <p class="font-bold text-orange-400">
                        {{ product.pricePer }}
                      </p>
                    </div>
                  </div>
                  <div
                    class="header__deleteFromCart"
                    @click="deleteProductFunc(cart)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="#fb923c"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <!-- show total and go to checkout -->
              <div
                class="
                  header__total-price
                  flex
                  xs:flex-row
                  justify-between
                  items-center
                "
              >
                <div class="flex flex-col">
                  <p class="text-gray-400 text-xs mb-1">مبلغ کل:</p>
                  <p class="font-bold text-orange-400">{{ totalPrice }}</p>
                </div>
                <button
                  class="
                    bg-orange-400
                    rounded-lg
                    px-3
                    py-1
                    text-xs
                    xs:text-base
                    text-white
                  "
                >
                  <router-link :to="{ name: 'CheckoutView' }">
                    صفحه پرداخت</router-link
                  >
                </button>
              </div>
            </div>
            <div v-else class="text-gray-500">
              <p>سبد خرید شما خالی است!</p>
            </div>
          </div>
        </div>

        <!-- Navigation (mobile) -->
        <div
          class="header-mob xs:hidden header__icon cursor-pointer rounded-full"
        >
          <div class="header-mob__icon" @click="showHamburger = !showHamburger">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="#fb923c"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </div>
          <div v-if="showHamburger" class="header-mob__content">
            <div
              class="header-mob__content-box rounded-xl shadow-xl"
              :style="
                lightStatus === 'toDark'
                  ? 'background-color: white'
                  : 'background-color: #333333;border: 2px solid #9ca3af;'
              "
            >
              <nav class="p-0 py-2">
                <ul class="flex flex-col text-sm mx-3">
                  <li
                    v-for="(nav, index) in navbar"
                    :key="index"
                    class="flex justify-center"
                  >
                    <router-link
                    :class="lightStatus === 'toDark' ? '' : 'text-gray-400'"
                      class="
                        px-4
                        py-1
                        hover:bg-orange-200
                        rounded
                        w-full
                        text-center
                      "
                      :to="{ name: nav.ref }"
                      >{{ nav.text }}</router-link
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      itemNav: 1,
      proCount: null,
      lightStatus: "toDark",
      lightStatus1: null,
      showHamburger: false,
      navbar: [
        { text: "خانه", ref: "HomeView" },
        { text: "فروشگاه", ref: "ShopView" },
        { text: "درباره ما", ref: "AboutView" },
        { text: "تماس با ما", ref: "ContactView" },
      ],
    };
  },
  methods: {
    deleteProductFunc(product) {
      const deletedIndex = this.cart.indexOf(product);
      this.cart.splice(deletedIndex, 1);
    },
  },
  props: ["cart"],
  computed: {
    cartItems() {
      return this.cart;
    },
    cartCount() {
      return this.cart.length;
    },
    totalPrice() {
      return this.cart.reduce((acc, curr) => {
        return acc + curr.price;
      }, 0);
    },
  },
  watch: {
    lightStatus() {
      this.lightStatus1 = this.lightStatus;
      this.$emit("showLightStatus", this.lightStatus1);
    },
  },
};
</script>

<style scoped>
.products-cart {
  height: 180px;
  overflow-y: auto;
}
button {
  font-family: vazir;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: flex;
  align-items: center;
  transition: ease-in-out 0.4s;
}
li:hover {
  transform: scale(1.08);
}
/* .header {
  background-color: #f8fafc;
} */
.header__deleteFromCart {
  transition: ease-in-out 0.4s;
  cursor: pointer;
}
.header__deleteFromCart:hover {
  transform: scale(1.2);
}
.header__icon {
  padding: 10px;
  transition: ease-in-out 0.4s;
  position: relative;
}
.header__counter {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  right: 4px;
  font-size: 14px;
  border-radius: 50%;
  background-color: #fb923c;
  color: white;
}
.header__icon svg {
  transition: ease-in-out 0.4s;
}
.header__icon:hover {
  background-color: #ffedd5;
}
.header__icon:hover svg {
  transform: scale(0.85);
}
.header__added-products {
  display: none;
  position: absolute;
  width: 300px;
  top: 72px;
}
@media (max-width: 298px) {
  .header__added-products {
    left: 20px;
    width: 220px;
  }
}
@media (min-width: 300px) {
  .header__added-products {
    left: 20px;
    width: 280px;
  }
  .header__total-price {
    flex-direction: column;
  }
}
@media (min-width: 396px) {
  .header__added-products {
    left: 58px;
  }
}
.header__icon--cart:hover + .header__added-products {
  display: block;
}
.header__added-products:hover {
  display: block;
}
.header-mob {
  position: relative;
}
.header-mob__content {
  /* display: none; */
  position: absolute;
  left: 0px;
  top: 50px;
  width: 140px;
}
.header-mob__icon:hover + .header-mob__content {
  display: block;
}
</style>
