<template>
  <div class="landing-area flex justify-center">
    <div
      class="
        landing-box
        sm:flex
        justify-between
        w-10/12
        rounded-3xl
        sm:px-12
        px-6
        py-4
      "
      :style="
        lightStatus === 'toDark'
          ? 'background-color: #f3f4f6;'
          : 'background-color: #333333;'
      "
    >
      <div
        class="
          landing-box__content
          w-full
          flex flex-col
          justify-center
          items-start
        "
      >
        <h1 class="font-bold text-3xl lg:text-5xl text-orange-500">
          به فست فود برگرویچ خوش آمدید
        </h1>
        <p
          class="font-bold text-lg lg:text-2xl my-6 xs:my-6 sm:my-5 md:my-7 lg:my-10"
          :class="lightStatus === 'toDark' ? 'text-slate-600' : 'text-gray-50'"
        >
          طعمي لذيذ و به ياد ماندنی را با ما تجربه كنيد
        </p>
        <button
          class="
            bg-orange-400
            text-sm
            sm:text-lg
            md:text-xl
            px-4
            py-2
            rounded-lg
            text-white
          "
        >
          <router-link class="flex items-center" :to="{ name: 'ShopView' }"
            >رفتن به فروشگاه
            <span class="material-icons mr-2"> storefront </span>
          </router-link>
        </button>
      </div>
      <div class="landing-box__img w-full">
        <img src="../assets/images/bg1.2587f1cf.png" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: ["lightStatus"],
};
</script>

<style scoped>
@media (max-width: 479px) {
  h1 {
    line-height: 48px;
  }
}
@media (min-width: 640px) {
  h1 {
    line-height: 45px;
  }
}
@media (min-width: 1023px) {
  h1 {
    line-height: 65px;
  }
}
button {
  font-family: vazir;
  transition: ease-in-out 0.4s;
  border: 2px solid #ffffff00;
}
button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #f97316;
  border: 2px solid #f97316;
  transform: scale(1.1);
}
</style>