<template>
  <div class="sidebar__price-filter pt-1 pb-4">
    <form action="#">
      <div class="radio mb-3">
        <input
          :value="'htl'"
          v-model="checkedPrice"
          id="radio-1"
          name="radio"
          type="radio"
          class="ml-3"
        />
        <label
          for="radio-1"
          class="radio-label"
          :class="lightStatus === 'toDark' ? 'text-gray-500' : 'text-gray-400'"
          >از بیشترین قیمت به کمترین</label
        >
      </div>

      <div class="radio">
        <input
          :value="'lth'"
          v-model="checkedPrice"
          id="radio-2"
          name="radio"
          type="radio"
        />
        <label
          for="radio-2"
          class="radio-label"
          :class="lightStatus === 'toDark' ? 'text-gray-500' : 'text-gray-400'"
          >از کمترین قیمت به بیشترین</label
        >
      </div>
    </form>
  </div>
</template>

<script>
export default {
  props: ['lightStatus'],
  data() {
    return {
      checkedPrice: null,
    };
  },
  watch: {
    checkedPrice() {
      this.$emit("priceFilterFunc", this.checkedPrice);
    },
  },
};
</script>

<style scoped>
label {
  font-family: vazir;
  cursor: pointer;
}
.radio input[type="radio"] {
  position: absolute;
  display: none;
}
.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  /* position: relative; */
  top: -0.2em;
  margin-left: 7px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #fb923c;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #fb923c;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}
</style>