<template>
  <div
    class="product-box p-4 rounded-2xl text-center"
    :style="
      lightStatus === 'toDark'
        ? 'background-color: white'
        : 'background-color: #333333;'
    "
  >
    <!-- image -->
    <div
      class="product-box__img bg-gray-50 rounded-xl p-4 flex justify-center"
      :style="
        lightStatus === 'toDark'
          ? 'background-color: #f9fafb'
          : 'background-color: #2F2F2F'
      "
    >
      <img :src="product.image" alt="" />
    </div>
    <!-- title -->
    <div class="product-box__title mt-5">
      <h3
        class="font-bold text-lg"
        :class="lightStatus === 'toDark' ? '' : 'text-gray-300'"
      >
        {{ product.title }}
      </h3>
    </div>
    <!-- price -->
    <div class="product-box__price">
      <h4 class="font-bold text-xl text-orange-400 mt-2">
        {{ product.pricePer }} تومان
      </h4>
    </div>
    <!-- category -->
    <div class="product-box__category">
      <h4 class="text-gray-400 mt-3">{{ product.category }}</h4>
    </div>
    <!-- button -->
    <div class="product-box__button">
      <button
        class="
          border-2 border-orange-400
          text-white
          bg-orange-400
          py-1
          px-4
          mt-4
          rounded-md
          hover:text-orange-400 hover:bg-transparent
        "
      >
        <router-link
          :to="{ name: 'ProductView', params: { name: product.title } }"
        >
          مشاهده و خرید
        </router-link>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: ["product", "lightStatus"],
};
</script>

<style scoped>
button {
  font-family: vazir;
  transition: ease-in-out 0.4s;
}
@media (min-width: 480px) and (max-width: 639px) {
  .product-box {
    width: 48.1%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .product-box {
    width: 48%;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .product-box {
    width: 31.5%;
  }
}
@media (min-width: 1280px) and (max-width: 1536px) {
  .product-box {
    width: 23.6%;
  }
}
</style>