<template>
  <!-- sm:w-3/5 md:w-2/6 -->
  <div
    class="shop-large__filter h-fit rounded-3xl p-5 sticky top-5"
    :style="
      lightStatus === 'toDark'
        ? 'background-color: white'
        : 'background-color: #333333;'
    "
  >
    <h4
      class="font-bold mb-3"
      :class="lightStatus === 'toDark' ? 'text-gray-500' : 'text-gray-100'"
    >
      فیلتر بر اساس قیمت
    </h4>
    <PriceFilter @priceFilterFunc="showPriceFilterF($event)" :lightStatus="lightStatus"/>
    <h4
      class="text-gray-500 font-bold mb-1 mt-5"
      :class="lightStatus === 'toDark' ? 'text-gray-500' : 'text-gray-100'"
    >
      فیلتر بر اساس نوع
    </h4>
    <TypeFilter @typeFilterFunc="showTypeFilterF($event)" :lightStatus="lightStatus"/>
  </div>
</template>

<script>
import PriceFilter from "../components/PriceFilterMob.vue";
import TypeFilter from "../components/TypeFilterMob.vue";

export default {
  props: ['lightStatus'],
  components: { PriceFilter, TypeFilter },
  methods: {
    showPriceFilterF($event) {
      console.log($event);
      this.$emit("passPriceEmit", $event);
    },
    showTypeFilterF($event) {
      this.$emit("passTypeEmit", $event);
    },
  },
};
</script>

<style scoped>
/* @media (min-width: 640px) {
  .shop-large__filter {
    width: 376px;
  }
} */
h4 {
  position: relative;
  display: inline-block;
}
h4::after {
  content: "";
  width: 18px;
  height: 5px;
  position: absolute;
  top: 10px;
  left: -25px;
  background-color: orange;
}
</style>