<template>
  <div
    class="
      sidebar
      flex flex-col
      xs:flex-row xs:justify-around xs:gap-x-8
      px-6
      pb-4
    "
  >
    <!-- Filter products by price -->
    <div class="sidebar__price-filter xs:w-1/2">
      <button
        @click="showPriceFilter = !showPriceFilter"
        :class="showPriceFilter ? 'text-orange-400' : 'text-gray-200'"
        class="w-full py-2 rounded-xl font-bold mb-3"
        :style="
          lightStatus === 'toDark'
            ? 'background-color: white'
            : 'background-color: #333333;'
        "
      >
        فیلتر بر اساس قیمت
      </button>
      <PriceFilter
        @priceFilterFunc="showPriceFilterF($event)"
        v-if="showPriceFilter"
      />
    </div>

    <!-- Filter products by type -->
    <div class="sidebar__type-filter xs:w-1/2">
      <button
        @click="showTypeFilter = !showTypeFilter"
        :class="showTypeFilter ? 'text-orange-400' : 'text-gray-200'"
        class="w-full py-2 rounded-xl font-bold"
        :style="
          lightStatus === 'toDark'
            ? 'background-color: white'
            : 'background-color: #333333;'
        "
      >
        فیلتر بر اساس نوع
      </button>
      <TypeFilter
        @typeFilterFunc="showTypeFilterF($event)"
        v-if="showTypeFilter"
      />
    </div>
  </div>
</template>

<script>
import PriceFilter from "../components/PriceFilterMob.vue";
import TypeFilter from "../components/TypeFilterMob.vue";

export default {
  props: ['lightStatus'],
  data() {
    return {
      showPriceFilter: false,
      showTypeFilter: false,
      whichFilter: 0,
    };
  },
  methods: {
    showPriceFilterF($event) {
      console.log($event);
    },
    showTypeFilterF($event) {
      console.log($event);
    },
  },
  components: {
    PriceFilter,
    TypeFilter,
  },
};
</script>

<style scoped>
button {
  font-family: vazir;
}
</style>