<template>
  <div class="sidebar__type-filter py-4">
    <form action="#">
      <div class="_checkBox_wrap">
        <input
          class="ml-2"
          type="checkbox"
          id="opt1"
          name="opt1"
          :value="'پیتزا'"
          v-model="choosedCheckBox"
        />
        <label
          :class="lightStatus === 'toDark' ? 'text-gray-500' : 'text-gray-400'"
          for="opt1"
        >
          پیتزا
        </label>
      </div>

      <div class="_checkBox_wrap my-2">
        <input
          class="ml-2"
          type="checkbox"
          id="opt2"
          name="opt2"
          :value="'ساندویچ'"
          v-model="choosedCheckBox"
        />
        <label
          :class="lightStatus === 'toDark' ? 'text-gray-500' : 'text-gray-400'"
          for="opt2"
        >
          ساندویچ
        </label>
      </div>

      <div class="_checkBox_wrap">
        <input
          class="ml-2"
          type="checkbox"
          id="opt3"
          name="opt3"
          :value="'همبرگر'"
          v-model="choosedCheckBox"
          required
          checked
        />
        <label
          :class="lightStatus === 'toDark' ? 'text-gray-500' : 'text-gray-400'"
          for="opt3"
        >
          همبرگر
        </label>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  props: ['lightStatus'],
  data() {
    return {
      choosedCheckBox: [],
    };
  },
  watch: {
    choosedCheckBox() {
      console.log(this.choosedCheckBox);
      this.$emit("typeFilterFunc", this.choosedCheckBox);
    },
  },
};
</script>

<style scoped>
label {
  font-family: vazir;
  cursor: pointer;
}
input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}
input:focus {
  outline: none !important;
}
._checkBox_wrap {
  position: relative;
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  vertical-align: middle;
  height: 18px;
  width: 18px;
  border: 1px solid #fb923c;
  border-radius: 6px;
  margin-right: 0.5rem;
  cursor: pointer;
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  display: none;
  left: 10px;
  top: 6px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="checkbox"]:checked {
  background-color: #fb923c;
  border: 1px solid #fb923c;
  border-radius: 6px;
}
input[type="checkbox"]:checked ::after {
  display: block;
}
input[type="checkbox"]:checked + label {
  color: black;
  cursor: pointer;
}
</style>