<template>
  <div
    id="fastfood-app"
    :style="
      lightStatus === 'toDark'
        ? 'background-color: #f8fafc;'
        : 'background-color: #2F2F2F;'
    "
  >
    <Header :cart="cart" @showLightStatus="SetLightStatus($event)" />
    <router-view
      @newAddedCart="showNewAddedCart($event)"
      :cart="cart"
      :lightStatus="lightStatus"
    />
    <Footer :lightStatus="lightStatus"/>
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Footer from "./components/Footer.vue";

export default {
  components: { Header, Footer },
  data() {
    return {
      cart: [],
      lightStatus: "toDark",
    };
  },
  methods: {
    showNewAddedCart($event) {
      this.cart.push($event);
    },
    SetLightStatus($event) {
      this.lightStatus = $event;
    },
  },
};
</script>

<style>
#fastfood-app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: right; */
  color: #2c3e50;
}
/* #app{
  background-color: #f8fafc;
} */
@font-face {
  font-family: "vazir";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Vazir.woff") format("woff");
}

@font-face {
  font-family: "vazir";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/Vazir-Bold.woff") format("woff");
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
button {
  font-family: vazir;
}

nav {
  padding: 30px;
}

/* nav a {
  font-weight: bold;
  color: #2c3e50;
} */

/* nav a.router-link-exact-active {
  color: #42b983;
} */
</style>
